<div id="hello-world">
  <h1>Hello, World!</h1>
  <p><%= @time %></p>
  <p>
	  <a href="/question/1">click here to start </a>
	</p>
	<div class="footnote">created by <a href="http://marcusortiz.com/">Marcus Ortiz</a> and <a href="http://users.csc.calpoly.edu/~tyhollan/">Tyler Holland</a> for cpe430</div>
</div>
