<!DOCTYPE html>
<html>
<head>
  <title>Assignment7</title>
  <link href="/stylesheets/app.css" type="text/css" rel="stylesheet" media="screen" />
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
