<div id="question">
  <div class="bubble">
	  <h1>life, universe, everything = ?</h1>
	</div>
	<form>
		<input autofocus="autofocus" id="answer" size="50" type="text">
		<button id="submit-btn" type="submit">submit</button>
  </form>
</div>
