@charset "utf-8";
/* CSS Document */

/*******************************************************************************************/
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
/*******************************************************************************************/
/*******************************************************************************************/
html, body {
  background-color: #e7e7e7;
  color: #333;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  height: 100%;
}

a, a:visited, a:active, a:hover {
  color: #00;
}

p {
	margin: 15px 0;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.bubble {
	background: #444;
	width: 800px;
	margin: 0 auto;
	padding: 50px 0;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#container {
	margin: 0 auto;
	width: 960px;
}

#hello-world {
	text-align: center;
	height: 100px;
	padding: 200px 0;
}

#hello-world h1 {
	font-size: 72px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#hello-world, #question p {
	color: #555;
}

#question {
	text-align: center;
	height: 400px;
	padding: 50px 0;
}

#question h1 {
	font-size: 48px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	color: #fff;
}

.footnote {
	position: absolute;
	bottom: 0px;
}
